{% extends 'base.html' %}
{% block title %}开户{% endblock %}
{% block content %}
<body>
<style>
    .layui-form-left {
        float: left;
        display: block;
        padding: 9px 15px;
        width: 80px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" id="edit_account_form">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="x-red">*</span>开户银行:</label>
                    <div class="layui-input-inline">
                        <label class="layui-form-left">{{ bank.bankname }}</label>
                        <input type="hidden" name="bankId" value="{{ bank.bankId }}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="x-red">*</span>开户人:</label>
                    <div class="layui-input-inline">
                        <select name="cusID" id="cusID" class="layui-form-select" style="width: 200px"
                                lay-verify="required">
                            {% for customer_info in customer %}
                                {% if customer_info.cusID == account_info.customer_id %}
                                    <option value="{{ customer_info.cusID }}" selected>{{ customer_info.cusname }}</option>
                                {% else %}
                                    <option value="{{ customer_info.cusID }}">{{ customer_info.cusname }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="x-red">*</span>账号:</label>
                    <div class="layui-input-inline">
                        <input type="number" name="accountNumber" id="accountNumber" class="layui-input" lay-verify="required" placeholder="请输入账号"
                        value="{{ account_info.accountNumber }}" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="x-red">*</span>账户类型:</label>
                    <div class="layui-input-inline" name="single_select1">
                        <select name="accounttype" id="accounttype" class="layui-form-select" style="width: 200px"
                                lay-verify="required">
                            <option value="储蓄账户">储蓄账户</option>
                            <option value="支票账户">支票账户</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="x-red">*</span>存款:</label>
                    <div class="layui-input-inline">
                        <input type="number" name="money" id="money" class="layui-input" lay-verify="required" placeholder="请输入存款"
                        value="{{ account_info.money|float }}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" lay-submit id="edit_account"
                                lay-filter="edit_account">
                            修改
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}
{% block script %}
    <script>
        layui.use(['layer', 'jquery', 'form', 'element', 'util', 'table'], function () {
            var layer = layui.layer,
                form = layui.form,
                table = layui.table,
                $ = layui.jquery;
            var index = parent.layer.getFrameIndex(window.name)
            form.on("submit(edit_account)", function (data) {
                $.post("/edit_account/" + {{ account_info.accountID}}, $("#edit_account_form").serialize(), function (res) {
                    if (res.code === 0) {
                        layer.msg('修改成功！', {
                            icon: 6,
                            time: 1000,},
                            function () {
                                parent.layer.close(index);
                            }
                        )
                    } else {
                        layer.alert(res.msg, {icon: 6})
                    }
                })
            });
        });
    </script>
{% endblock %}

